<div class="modal fade" id="@Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Title</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="small">@Message</div>
                @ModalBody
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-primary" type="button" data-bs-dismiss="modal">Close</button>
                @ModalButtons
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Title { get; set; } = "Modal";
    [Parameter] public string? Message { get; set; }
    [Parameter] public RenderFragment? ModalBody { get; set; }
    [Parameter] public RenderFragment? ModalButtons { get; set; }
}